# Your Supabase project URL
NEXT_PUBLIC_SUPABASE_URL=

# Your Supabase anon/public key
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Your Supabase service role key (keep this secret!)
SUPABASE_SERVICE_ROLE_KEY=

# Your Stripe secret key
STRIPE_SECRET_KEY=

# Your Stripe publishable key, in local dev mode you can obtain it running the custom command `npm run run-stripe-webhook` 
STRIPE_WEBHOOK_SECRET=

# Your application domain, e.g., https://your-domain.com. If running locally, use http://localhost:3000
NEXT_PUBLIC_DOMAIN=

# Your Resend API Key for sending emails
RESEND_API_KEY=

# Your Resend From Email Address - for testing purposes use onboarding@resend.dev
RESEND_FROM_EMAIL=

# The official Pure Hearts email address used when organization send verification requests to our mailbox
RESEND_PURE_HEARTS_EMAIL=pure.heart.platform@gmail.com

# Your Resend Testing To Email Address, use the pure heart gmail address if you use the resend account associated to it
RESEND_TESTING_TO_EMAIL=pure.heart.platform@gmail.com